<library path="libmulti_robot_costmap_plugin">
  <class name="multi_robot_costmap_plugin/MultiRobotLayer" 
         type="multi_robot_costmap_plugin::MultiRobotLayer" 
         base_class_type="nav2_costmap_2d::Layer">
    <description>Multi-robot obstacle layer for Nav2 costmap</description>
  </class>
</library>